<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>102634114869-mddd70hff1kubm76lfl87kcufbrn9iik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.102634114869-mddd70hff1kubm76lfl87kcufbrn9iik</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>102634114869-21gu2ak4j9gu0gg65k9qmb8lkn8tdrpi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBLzOJnhiiRlfZ4ApE4SAQISc2-e_YocKA</string>
	<key>GCM_SENDER_ID</key>
	<string>102634114869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.hireflutter.starterKit</string>
	<key>PROJECT_ID</key>
	<string>starter-kit-c185b</string>
	<key>STORAGE_BUCKET</key>
	<string>starter-kit-c185b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:102634114869:ios:df4dd3faebed56d90b467c</string>
</dict>
</plist>