<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>689253102747-ub1csmq9moqmbhv6f0fu2h99skctgoqv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.689253102747-ub1csmq9moqmbhv6f0fu2h99skctgoqv</string>
	<key>API_KEY</key>
	<string>AIzaSyA9IGKVTCKdCLhNMwMdKM8N3qimISogGSM</string>
	<key>GCM_SENDER_ID</key>
	<string>689253102747</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>prod.hireflutter.starterKit</string>
	<key>PROJECT_ID</key>
	<string>start-flutter-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>start-flutter-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:689253102747:ios:c6232e034688cb9030823e</string>
</dict>
</plist>