/// Copy and paste the following information 
/// from your firebase console and save the file as 
/// firebase_config.js

// Your web app's Firebase configuration
  // For Firebase JS SDK v7.20.0 and later, measurementId is optional
  var firebaseConfig = {
    apiKey: "<Your API Key>",
    authDomain: "Your Auth Domain",
    projectId: "Your Project ID",
    storageBucket: "Your storage bucket",
    messagingSenderId: "Your Messaging Sender ID",
    appId: "Your App ID",
    measurementId: "Your Measurement ID"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();